- current_page(:dungeons)

- if @dungeons.empty?
  %p Nothing here.
  %p= link_to 'Add your own!', new_dungeon_path
- else
  - @dungeons.in_groups_of(3, false) do |group|
    .row.dungeons-row
      - group.each do |dungeon|
        .col-md-4
          = render dungeon, short: true
