/ - if user_signed_in?
/   %li= link_to 'Sign out', signout_path
/ - else
/   %li= link_to 'Sign in', signin_path

%li= link_to 'Latest bases', latest_dungeons_path
%li= link_to 'Add your base', new_dungeon_path